.story {
	width: 480px;
	height: 280px;
	margin: auto;
	margin-top: 90px;
	background-color: white;
	border: 5px double black;
	border-radius: 15px;
	box-shadow: 0px 0px 15px #888888;
	display: none;
	text-align: center;
}

.text {
	width: 400px;
	margin: auto;
	margin-top: 50px;
}

button {
	width: 100px;
}

input {
	margin: auto;
	text-align: center;
}

#panel1 {
	background-color: #E2E3E1;
}

#name-input {
	width: 300px;
	margin-top: 60px;
	background-color: #E2E3E1;
}

#age-input {
	width: 195px;
	background-color: #E2E3E1;
}

#bg-image {
	width: 680px;
	height: 470px;
	margin: auto;
	margin-top: 80px;
	border: 1px solid black;
	box-shadow: 0px 0px 5px #888888;
}